body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Form-input{
  /* font-size: 20px; */
  border-bottom: 1px solid;
  width: 90%;
  outline: none;
  padding: 4px 1px;
  margin-bottom: 40px;
}
.Form-input input{
  border: none;
  outline: none;
  padding: 0px 20px;
  margin: 0px;
  font-size: 16px;
}
.Form-icon{
  width: 20px;
  height: 10px;
  margin-bottom: 5px;
}
.Form-button{
  margin-top: 50px;
  background-color: rgb(84, 134, 220);
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.Form-button:hover{
  background-color: #6894e0;
}
.Navbar-container{
  background-color: #3c3eb6;
}
.Navbar-select{
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 8px;
  outline: none;
  background-color: transparent;
  color: white;
  padding: 4px 20px;
  cursor: pointer;
}
.Navbar-select option{
  cursor: pointer;
  /* font-size: 20px; */
  background-color: #55627e;
  border: none;
  outline: none;
  height: 40px;
}
.Navbar-button{
  background-color: #49c05b;
  color: white;
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 8px 15px;
  transition: all 0.5s ease-in-out;
}
.Navbar-button:hover{
  background-color: #6263c1;
}
